/*Specific*/

.myDashboardPanel
{
    margin: 10px;
    min-width: 200px;
    max-width: 1200px;
}

.myBody
{
    background-image: url("../img/background.svg");
    background-color: #ECEFF1;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

.myForm
{
    max-width: 1280px;
    margin:0px auto;
    text-align:left;
}

.mySelectAllBox
{
    font-weight: bold;
    padding: 20px;
}

.myFullWidth
{
    width: 100%;
}

.mySpecialInputTextarea
{
    width: 100%;
}

.myAdminButton
{
    color: yellowgreen;
}

/*PrimeFaces Overrides...*/
.ui-inputfield
{
    width: 95%;
}

.ui-widget, 
.ui-widget-content
{
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

/*Style For Button ------------------------------------------------------------------------------------- */
.ui-button {
    outline: none;
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    font-family: 'Roboto';
    color: #ffffff;
    text-shadow: none;
    position: relative;
    background-color: #0288d1;
    font-weight: normal;
    border: 0px none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.ui-buttonset .ui-state-active {
    background-color: #176ba0 !important;
}
.ui-button.ui-state-hover,
.ui-buttonset .ui-state-hover {
    background-color: #29a1ec;
}
.ui-button-icon-left {
    margin-left: 8px;
}
.ui-button-icon-only {
    min-width: 40px !important;
    border-radius: 30px !important;
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
}

.ui-button-text-only .ui-button-text {
    padding: 10px 24px !important;
}
.ui-button.ui-button-icon-only .ui-button-text {
    padding: 10px 0px !important;
    border-radius: 30px !important;
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
}
.ui-button-text-icon-left .ui-button-text {
    padding: 10px 20px 10px 40px !important;
}
.ui-button-text-icon-right .ui-button-text {
    padding: 10px 40px 10px 20px !important;
}
.ui-button-text-icon-right .ui-button-icon-right {
    right: 11px;
}
.ui-button-icon-only .ui-icon.fa,
.ui-button-text-icon-left .ui-icon.fa,
.ui-button-text-icon-right .ui-icon.fa {
    margin-top: -8px !important;
}


