body .ui-panelgrid .ui-panelgrid-cell {    
    padding: 1 rem;
}

.myLink
{
    font-size: 8pt; 
    color: grey;
}

/*Timeline style*/
div.vis-item-overflow{        
    background-color: #FBC02D;
}

.ui-datatable .ui-column-filter {
    visibility: hidden;
}

.placesPage
{
    background-color: whitesmoke;
}

.mainCard
{
    min-width: 200px;    
    max-width: 93%;
}

.loginPage
{
    /* The image used */
    background-image: url('https://picsum.photos/1280');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ui-card
{
    width: 25rem; 
    margin-bottom: 2em;
    padding: 12px;
    margin: 12px;
    box-sizing: border-box;         
}
.ui-card-title
{
    font-size: smaller; 
}

body .ui-tagcloud {  
    border: none;
    background: none;
    color: #495057;
    padding: 4rem;    
    font-size: 150%;
    width: 100%;
}

body .ui-tagcloud a {
    color: floralwhite;
    border-radius: 12px;    
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;

    height: 40px;
    margin: 20px;

}

.ui-panelgrid .p-grid .ui-panelgrid-cell, .ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell {
    border: 0 none;
    background: none;
}
